<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanwei.tles.casetransfer.mapper.oracle.CaseMapper">

    <!-- 根据案件ID查询案件信息 -->
    <select id="selectByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CaseInfoEntity">
        SELECT 
            caseId,
            vehicleShipName,
            illegalObjects,
            companyName,
            partyName,
            idCardNum,
            state,
            caseFilingTime,
            illegalLocation,
            caseNo,
            source,
            illegalBehavior,
            caseReason,
            illegalContent,
            caseBasis,
            remarks,
            caseType,
            illegalTime,
            officers,
            illegalId,
            areaCode,
            orgId,
            handleOrgId,
            closeTime,
            punishState,
            receiptDate,
            isCommit,
            caseCategory,
            acceptCheck,
            rushEmigrate,
            checkLocation,
            vehicleSitu,
            longitude,
            latitude,
            lawEnforCategory,
            industryType,
            depId,
            depName,
            registAreaCode,
            innerUnitId,
            socialCreditCode,
            processStatus,
            sourceInfo,
            caseNoTmpl,
            orgName,
            finalDecision,
            isDeliverCase,
            penaltyDecisionTime,
            notPunish,
            closer,
            regionCode,
            createTime,
            modifyTime,
            creator,
            modifier
        FROM LE_CaseInfo
        WHERE caseId = #{caseId}
    </select>

    <!-- 根据案件ID查询案件当事人信息 -->
    <select id="selectPartiesByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CasePersonalEntity">
        SELECT 
            caseId,
            personName,
            sex,
            age,
            phone,
            areaCode,
            areaCodeName,
            address,
            post,
            idCardType,
            idCardNum,
            pracCertNum,
            issueOrg,
            companyName,
            postcode,
            nation,
            socialCreditCode,
            ownerLicenseNum,
            ownerId,
            companyPost,
            isSelfEmployed,
            ownerName,
            registCode
        FROM LE_CasePersonal
        WHERE caseId = #{caseId} 
        AND delFlag = 0
    </select>

    <!-- 根据案件ID查询案件当事单位信息 -->
    <select id="selectCompaniesByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CaseCompanyEntity">
        SELECT 
            caseId,
            ownerId,
            companyName,
            socialCreditCode,
            legalName,
            legalIdCertNum,
            address,
            registAreaName,
            registAreaCode,
            operateAreaCode,
            operateAddress,
            phone,
            ownerLicenseNum,
            licenseFirstDate,
            licenseIssueDate,
            issueOrg,
            legalPost,
            legalIdCertType,
            registCode
        FROM LE_CaseCompany
        WHERE caseId = #{caseId}
    </select>

    <!-- 根据案件ID查询案件附件信息 -->
    <select id="selectAttachmentsByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CaseAttachmentEntity">
        SELECT 
            attachId,
            attachName,
            filePath,
            fileSize,
            fileType,
            objectId,
            attachCategory
        FROM LE_CaseAttachment
        WHERE objectId = #{caseId}
    </select>

    <!-- 根据案件ID查询案件车辆信息 -->
    <select id="selectVehiclesByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CaseVehicleEntity">
        SELECT 
            caseId,
            vehicleId,
            vehicleNum,
            tranLicenseNum,
            plateColor,
            trailerNum,
            isLin,
            specification,
            structure,
            vehicleType,
            brandModel,
            vehicleArea,
            ownerName,
            ownerAddress,
            ownerLicenseNum,
            ownerPhone,
            driverName,
            driverAddress,
            driverIdCardType,
            driverIdCardNum,
            driverPracCertNum,
            pracCertAddress,
            pracCertAreaCode,
            driverIssueOrg,
            driverOwnerRelation,
            driverPhone,
            ownerId,
            transType,
            caseRelation,
            companyPosition,
            axleNum
        FROM LE_CaseVehicle
        WHERE caseId = #{caseId}
    </select>

    <!-- 根据案件ID查询案件处罚信息 -->
    <select id="selectPunishesByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CasePunishEntity">
        SELECT 
            punishId,
            isSpotPunish,
            isCollectFine,
            collectFineReason,
            punishResult,
            punishBasis,
            caseId,
            source,
            situId,
            isMitigate,
            mitigateBasis,
            respPerson,
            punishContent
        FROM LE_CasePunish
        WHERE caseId = #{caseId}
    </select>

    <!-- 根据案件ID查询案件执法人员信息 -->
    <select id="selectOfficersByCaseId" resultType="com.guanwei.tles.casetransfer.entity.oracle.CaseOfficerEntity">
        SELECT 
            caseOfficerId,
            officerId,
            officerName,
            lawCardNum,
            unitId,
            caseId,
            orgName,
            depName,
            officerType,
            signPicUrl,
            officerCredentialPicUrl
        FROM LE_CaseOfficer
        WHERE caseId = #{caseId}
    </select>

</mapper> 